.timeline-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    /* background: rgba(0, 0, 0, 0.5); */
    border-radius: 20px;
  }
  
  .timeline {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .curve {
    position: relative;
    z-index: 1;
  }
  
  .curve-left {
    transform: scaleY(-1) rotate(90deg);
  }
  
  .curve-right {
    transform: rotate(90deg);
  }
  
  /* Add more styles for the timeline appearance */
  