.event {
  position: relative;
  width: 150%;
  height:90px ;
  margin: 20px auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}
.link-click{
  text-decoration: none;

}
.event:hover{
  background: rgba(57, 53, 53, 0.9);
}

.event.left {
  align-self: flex-start;
  
}

.event.right {
  align-self: flex-end;
}

.event::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.event.left::after {
  right: 100%;
  
}

.event.right::after {
  left: 100%;
}

/* .event-content{
  width: 100px;
} */

/* Add more styles for the event appearance */