#hospihome {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.navbarhospi {
    width: 100vw;
    height: 80px;
    box-sizing: border-box;
    /* background-color: rgb(221, 219, 219); */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0 30px;

    justify-content: space-evenly;
}

.logohospi {
    height: 50px;
    width: 150px;
    /* background-color: rgb(217, 110, 110); */
    background-color: rgb(140, 137, 137, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    padding-right: 2px;
    color: white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.searchdiv {
    height: 40px;
    border-radius: 10px;
    width: 60vw;
    background-color: rgb(140, 137, 137, 0.5);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 6px;
    backdrop-filter: blur(12px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.searchButton {
    width: 4vw;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#searchicon:hover {
    color: rgba(0, 0, 0, 0.9);
}

.Searchdiv {
    display: flex;
}


.searchbar {
    border: none;
    outline: none;
    background-color: rgb(140, 137, 137, 0.001);
    width: 50vw;
    padding-left: 5px;
    color: white;
}

.searchbar::placeholder {
    color: white;
    /* Set the color for the placeholder text */
    font-family: 'Raleway', sans-serif;
}

#searchicon {
    padding-left: 6px;
    padding-right: 4px;
    color: white;

}

.upload {
    height: 30px;
    width: 120px;
    /* background-color: rgb(217, 110, 110); */
    background-color: rgb(140, 137, 137, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    padding-left: 2px;
    outline: none;
    border: none;
}

.upload span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

#uploadicon {
    color: white;
}

#uploadpop {
    position: absolute;
    height: 400px;
    width: 500px;
    background-color: rgb(140, 137, 137, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    right: 8vw;
    top: 68px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);


}

.close-upload {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 14px;
    margin-top: 7px;
}

.addressdiv {
    /* margin: 20px 0px; */
    margin-bottom: 20px;
    height: 25px;
    width: 400px;


}

.type-address {
    border: none;
    outline: none;
    height: 30px;
    width: 400px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    /* backdrop-filter: blur(22px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6); */


}

input::placeholder {
    color: white;
    /* Change this to your desired color */
    opacity: 1;
    /* Optional: ensures the color is fully opaque */
}

.dropdown-toggle {
    width: 270px;
    border-radius: 10px;
    margin-bottom: 9px;
    background-color: rgba(255, 255, 255, 0.008);
    backdrop-filter: blur(222px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    outline: none;
    border: none;
    color: white;
}

.dropdown-item {
    background-color: rgb(140, 137, 137, 0.8);
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.4);
    height: 30px;
    color: white;
    width: 300px;
    /* margin: 3px 0px; */
    cursor: pointer;
    border-radius: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropdown-div {
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: rgb(140, 137, 137, 0.7);
    width: 330px;
    height: 200px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

/* .dropdown-menu{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
} */

.browse-upload {

    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    height: 50px;
    width: 360px;
    align-items: center;
}

.upload-button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.008);
    backdrop-filter: blur(222px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    outline: none;
    border: none;
    color: white;

}

.bodyhospi {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.details {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    width: 80vw;

}

.name {
    display: flex;
}

#id {
    display: flex;
}

.nametext {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding-right: 5px;
    color: white;
}

.namebox {
    height: 43px;
    width: 30vw;
    display: flex;
    align-items: center;
    color: white;
    box-sizing: border-box;
    padding-left: 10px;
    /* background-color: rgb(221, 219, 219); */
    background-color: rgb(140, 137, 137, 0.5);
    /* opacity: 0.5; */
    backdrop-filter: blur(12px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    border-radius: 10px;

}

.blockshospi {
    margin-top: 30px;
    display: grid;
    grid-row-gap: 45px;
    grid-column-gap: 45px;
    grid-template-columns: auto auto;
}

.box {
    /* background-color: rgb(221, 219, 219); */
    background-color: rgb(140, 137, 137);
    height: 200px;
    width: 33vw;
    border-radius: 10px;
    opacity: 0.5;
    backdrop-filter: blur(12px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.sidebarhospi {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
    border-radius: 5px;
    /* background-color: rgb(140, 137, 137, 0.005); */
    backdrop-filter: blur(40px);
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.4);
}

#notiicon {
    color: white;
    cursor: pointer;

}

.logout {
    color: white;
}

.g-margin {
    margin: 12px 0;
}

.abs-close {
    position: absolute;
    right: 4px;
    color: white;
}

#notiicon {
    display: none;
}

.flex-nav {
    display: flex;
    align-items: center;
}

.blur-screen{
    min-height: 100vh;
    min-width: 110vw;
    position: fixed;
    backdrop-filter: blur(12px);
}

.blur-screen-two{
    min-height: 100vh;
    min-width: 110vw;
    position: fixed;
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media only screen and (max-width:940px) {
    #notiicon {
        margin-top: 15px;
        display: block;
    }

    .flex-nav {
        display: none;
    }

    .hospi-logo {
        display: none;
    }

    .searchdiv {
        margin-top: 15px;
    }

    /* .Details{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
    } */
}

@media only screen and (min-width:1080.1px) {

    .sidebarhospi {
        display: none;
    }

    /* .details{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
    } */

}

@media only screen and (min-width:910.1px) and (max-width:1080px) {

    .sidebarhospi {
        display: none;
    }

    /* .Details{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
    } */

}

@media screen and (max-width:540px) {
    #uploadpop {
        width: 400px;
        height: 400px;
    }

    .type-address {
        height: 30px;
        width: 200px;
    }

    .addressdiv {
        /* margin: 20px 0px; */
        margin-bottom: 20px;
        height: 25px;
        width: 300px;


    }
}