.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow: none;
  backdrop-filter: none;
}
.regis-header{
  color: rgb(181, 193, 204);
  margin-bottom: 15px;
}


.form-container {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
}

button[type='submit'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #0056b3;
}
.registration-tabs{
  display: flex;
  margin-bottom: 8px;
}
.registration-tab{
  height: 60px;
    width: 300px;
    /* background-color: rgb(177, 62, 62); */
    /* background-color: rgb(80, 80, 80, 0.5); */
    background-color: #0056b3;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
.registration-tab-focused{
  height: 60px;
    width: 300px;
    /* background-color: #4c00b4; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: white;
    /* background-color: rgb(217, 110, 110); */
    /* background-color: rgb(125, 122, 122, 0.5); */
    background-color: #007bff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    /* opacity: 0.7; */
    /* font-family: 'Roboto Condensed', sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Raleway', sans-serif;
}