#userhome {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

.navbaruser {
    width: 100vw;
    height: 80px;
    box-sizing: border-box;
    /* background-color: rgb(221, 219, 219); */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0 30px;

    /* justify-content: flex-start; */
}

.updatediv {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#update {
    cursor: pointer;
    color: white;
}

.messagediv {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
}

#message {
    color: white;
    cursor: pointer;
}

.logouser {
    height: 50px;
    width: 150px;
    /* background-color: rgb(217, 110, 110); */
    background-color: rgb(140, 137, 137, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;

    color: white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    margin-right: 75vw;
}

.logoutdiv {
    color: white;
    padding-left: 40px;
    
}
.logout{
    cursor: pointer;
}



.bodyuser {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Details {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    width: 80vw;

}

.Name {
    display: flex;
}

#Id {
    display: flex;
}

.Nametext {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding-right: 5px;
    color: white;
}

.Namebox {
    height: 43px;
    width: 30vw;
    display: flex;
    align-items: center;
    color: white;
    box-sizing: border-box;
    padding-left: 10px;
    /* background-color: rgb(221, 219, 219); */
    background-color: rgb(140, 137, 137,0.5);
    /* opacity: 0.5; */
    backdrop-filter: blur(12px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.blocksuser {
    margin-top: 30px;
    display: grid;
    grid-row-gap: 45px;
    grid-column-gap: 45px;
    grid-template-columns: auto auto;
}

.Box {
    /* background-color: rgb(221, 219, 219); */
    background-color: rgb(140, 137, 137, 0.5);
    height: 200px;
    width: 33vw;
    border-radius: 10px;

    backdrop-filter: blur(12px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.Box1 ul li {
    font-size: 19px;
    color: white;
    list-style-type: none;
}

.Box1 {
    display: flex;
    align-items: center;

}

.Box2 ul li {
    font-size: 19px;
    color: white;
    list-style-type: none;
}

.Box2 {
    display: flex;
    align-items: center;

}

.Box3 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4vw;
}

.Box3:hover {
    background-color: rgb(15, 19, 34);
}

.Box4 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4vw;
}

.Box4:hover {
    background-color: rgb(15, 19, 34);
}

.notificationuser {
    position: absolute;
    right: 4.5vw;
    top: 88vh;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(140, 137, 137, 0.5);
    border-radius: 5px;
    z-index: -1;

}
.access{
    background-color:aqua;
    margin-right: 20px;
    border-radius: 5px;
    outline: none;
    
 }
 .deny{
     background-color: red;
     border-radius: 5px;
     outline: none;
 }
 .card{
     margin-bottom: 5px;
 }

#notiIcon {
    color: white;

}

.btn {
    position: absolute;
    right: 4.5vw;
    top: 88vh;
    background-color: rgb(140, 137, 137, 0.5);
    border: none;

}

.to-update {
    position: absolute;
    display: flex;
    /* box-sizing: border-box; */
    
    flex-direction: column;
    align-items: center;
    height: 550px;
    width: 400px;
    /* background-color: rgb(140, 137, 137, 0.5); */
    border-radius: 10px;
    backdrop-filter: blur(12px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    top: 100px;

}
.text-red{
    color: red;
    margin:0px;
}

.update {
    color: white;
    margin-bottom: 20px;
    width: 350px;
}

.submit-update {
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 91, 167);
    width: 80px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    color: white;

}
.submit-update:hover{
    background-color: rgb(162, 21, 113);
}

.close-update {
    color: white;
    display: flex;
    width: 100%;
    box-sizing: content-box;


}

#cross {
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.update input {
    border-radius: 5px;
    width: 350px;
    outline: none;
    border: none;
    background-color: rgb(140, 137, 137, 0.5);
  /* box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.3); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color:white;
}
.update input:focus{
   border: 2px solid white;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.canvas-div{
    background-color: rgb(140, 137, 137, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.canvas-header{
    color: white;
}
.cross-close{
    background-color: white;
}