.LOGIN-PAGE{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.navbar{
    width: 100vw;
    height: 80px;
    box-sizing: border-box;
    /* margin-top: -150px; */
    /* background-color: rgb(221, 219, 219); */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
   justify-content: start;
   align-items: center;
   padding: 0 30px;
}
.logo{
    height: 30px;
    width: 120px;
    /* background-color: rgb(217, 110, 110); */
    /* background-color: rgb(140, 137, 137,0.5);
    
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4); */
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    
    
}



.LOGIN{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 480px;
    width: 600px;
}

.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* background-color: rgb(125, 122, 122); */
    /* background-color: rgb(31, 31, 52); */
    align-items: center;
    width:100%;
    height: 200px;
    gap: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
    backdrop-filter: blur(10px);
    /* opacity: 0.7; */
    /* border: 0.00000000000001px solid white; */
    

    box-shadow: 0 0 15px rgba(255, 250, 250, 0.07);

}

.dontregis{
    color: white;
}

.register{
    padding: 4px;
}

.tabs{
    display: flex;

}
.tab{
    height: 60px;
    width: 300px;
    /* background-color: rgb(177, 62, 62); */
    background-color: rgb(80, 80, 80,0.5);
   display: flex;
   color: white;
   align-items: center;
   justify-content: center;
   border-top-right-radius: 20px;
   border-top-left-radius:20px ;
   cursor: pointer;
   font-family: 'Raleway', sans-serif;
   
   
}

.tab-focused{
    height: 60px;
    width: 300px;
    /* background-color: #4c00b4; */
    display: flex;
   align-items: center;
   justify-content: center;
   font-size: 23px;
   color: white;
   /* background-color: rgb(217, 110, 110); */
   background-color: rgb(125, 122, 122,0.5);
   border-top-right-radius: 20px;
   border-top-left-radius:20px ;
    font-weight: 500;
    cursor: pointer;
    /* opacity: 0.7; */
    /* font-family: 'Roboto Condensed', sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Raleway', sans-serif;
}


.metamask{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 50px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    padding: 0 15px;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin: 0 10px;
    background-color: rgb(125, 122, 122,0.55);
    /* background-color: rgb(80, 80, 80); */
    color: white;
    box-shadow: 0 0 0.4px rgba(0, 0, 0, 0.7);
    /* box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2) inset; */

    
    

}

.header{
    font-size:40px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
}

/* video{
    position: absolute;
    z-index: -9;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

} */